<div class="about" fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center">
  <div class="about-text">
    <h2>{{'pages.about' | translate}}</h2>
    <p>{{'about.aboutText.para1' | translate}}</p>
    <p>{{'about.aboutText.para2.main' | translate}}</p>
    <ul>
      <li>{{'about.aboutText.para2.item1' | translate}}</li>
      <li>{{'about.aboutText.para2.item2' | translate}}</li>
    </ul>
    <p>{{'about.aboutText.para3' | translate}}</p>
    <p>{{'about.aboutText.para4' | translate}}</p>
  </div>
  <img src="../../../assets/images/about-image.png" alt="About HackItAll" height="476" width="543"/>
</div>
