<div class="sponsors" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="title mat-elevation-z4" fxLayout="row" fxLayoutAlign="space-around center">
    <h2>{{'pages.sponsors' | translate}}</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center" style="width: 100%">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" class="sponsor mat-elevation-z4">
      <img src="../../../assets/images/sponsors/jane-street-logo.png" height="144" width="370" alt="Jane Street"
           (click)="onJaneStreetNavigate()"/>
      <p>{{'sponsors.janeStreetDesc' | translate}}</p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.lt-md="center center" style="width: 100%">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" class="sponsor mat-elevation-z4">
      <img src="../../../assets/images/sponsors/logo-db.jpeg" height="378" width="735" alt="Deutsche Bank"
           (click)="onDBNavigate()"/>
      <p>{{'sponsors.dbDesc' | translate}}</p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center" style="width: 100%"
       (click)="onBCRNavigate()">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center"
         class="sponsor mat-elevation-z4">
      <img src="../../../assets/images/sponsors/bcr-logo.png" height="130" width="358" alt="BCR"/>
      <p>{{'sponsors.bcrDesc' | translate}}</p>
    </div>
  </div>
  <div class="title mat-elevation-z4" fxLayout="row" fxLayoutAlign="space-around center">
    <h2>{{'sponsors.mediaPartners' | translate}}</h2>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" style="width: 100%">
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" style="width: 100%">
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4"
           (click)="onStiriNavigate()">
        <img alt="Stiri" src="../../../assets/images/sponsors/logo-stiri.ong.png"/>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4"
           (click)="onBursaNavigate()">
        <img alt="Bursa" src="../../../assets/images/sponsors/sigla-bursa.jpg"/>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" style="width: 100%">
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4"
           (click)="onIqadsNavigate()">
        <img alt="IQads" src="../../../assets/images/sponsors/IQads_logo.png"/>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4"
           (click)="onIqadsNavigate()">
        <img alt="SMARK" src="../../../assets/images/sponsors/SMARK_logo.png"/>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" style="width: 100%">
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" style="width: 100%">
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4"
           (click)="onAGERPRESNavigate()">
        <img alt="AGERPRES" src="../../../assets/images/sponsors/agerpres-logo_normal-ro-tag.png"/>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4">
        <img alt="ASMI" src="../../../assets/images/sponsors/asmi-logo.jpeg"/></div>
    </div>
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" style="width: 100%">
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4">
        <img alt="BEST" src="../../../assets/images/sponsors/BEST_Bucharest.png"/></div>
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4">
        <img alt="Codette" src="../../../assets/images/sponsors/codette-logo.jpeg"/></div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" style="width: 100%">
    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around center" style="width: 100%">
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4">
        <img alt="eeStec" src="../../../assets/images/sponsors/LC_Bucharest_red.png"/></div>
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4">
        <img alt="Liga AC" src="../../../assets/images/sponsors/Liga-AC-Logo.png"/></div>
      <div fxLayout="row" fxLayoutAlign="center center" class="media-partner mat-elevation-z4">
        <img alt="SISC" src="../../../assets/images/sponsors/SiSC_logo_box_izotip2r_bgWhite.png"/></div>
    </div>
  </div>
</div>
